{{ define "main" }}
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script type="text/javascript">
    function submitToAPI(e) {
      e.preventDefault();
      var name = $("#apa").val();
      var r = $("#free-resume-scanner-resume-text-area").val();
      var jd = $("#free-resume-scanner-job-description-text-area").val();
      var data = {
        resume: r,
        job_description: jd
      };

      console.log("datas", data.resume , data.job_description)
      $.ajax({
        type: "POST",
        url: "https://3dtn8ngzyi.execute-api.us-west-2.amazonaws.com/prod/review",
        crossDomain: "true",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(response) {
          $("#resume-has-linkedin-result").html(response.linked_in);
          $("#resume-length-result").html(response.resume_length);
          $("#resume-measurable").html(response.measurable);
          $("#job-description-skills").html("" + response.soft_skills + "," + response.hard_skills);
        }
      });
    }
  </script>
</head>
<body>

<form id="free-resume-scanner-form" method="post">
  <div class="form-group">
    <label for="free-resume-scanner-resume-text-area"><h2>Resume</h2></label>
    <textarea id="free-resume-scanner-resume-text-area" name="resume" cols="40" rows="15" aria-describedby="textareaHelpBlock" class="form-control" required="required"></textarea>
    <span id="textareaHelpBlock" class="form-text text-muted">Open your resume document, select all, copy, and then paste it here</span>
  </div>
  <div class="form-group">
    <label for="free-resume-scanner-job-description-text-area"><h2>Job Description</h2></label>
    <textarea id="free-resume-scanner-job-description-text-area" name="textarea1" cols="40" rows="15" class="form-control" aria-describedby="textarea1HelpBlock" required="required"></textarea>
    <span id="textarea1HelpBlock" class="form-text text-muted">Go to the Job Description, select all of it, copy, and paste it here</span>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-warning btn-lg col" onClick="submitToAPI(event)" style="margin-top:20px;">Submit</button>
  </div>
</form>

<h2>Results</h2>
<div class="table-responsive">
<table class="table">
  <thead class="table-dark">
  <tr>
    <th scope="col">Metric</th>
    <th scope="col">Value</th>
    <th scope="col">Suggestion</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Measurable</td>
    <td id="resume-measurable"></td>
    <td><a href="https://freeresumescanner.com/blog/2022/make-your-resume-pop-with-measurable-bullet-points">Make your Resume Pop with Measurable Bullet Points </a></td>
  </tr>
  <tr>
    <td>Missing Keywords</td>
    <td id="job-description-skills"></td>
    <td><a href="https://freeresumescanner.com/blog/2022/get-into-a-recruiters-inbox-with-keywords">Get into a Recruiters Inbox with Keywords</a></td>
  </tr>
  <tr>
    <td>Resume Length</td>
    <td id="resume-length-result"></td>
    <td><a href="https://freeresumescanner.com/blog/2022/dont-get-auto-rejected-keep-your-resume-between-500-1000-words">Don't get auto-rejected keep your Resume between 500-1000 words </a></td>
  </tr>
  <tr>
    <td>Has LinkedIn</td>
    <td id="resume-has-linkedin-result"></td>
    <td><a href="https://freeresumescanner.com/blog/2022/use-linkedin-so-that-recruiters-can-dm-you">Use LinkedIn so that Recruiters can DM you</a></td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>
{{ end }}