{{ define "main" }}
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript">
    function submitToAPI(e) {
      e.preventDefault();
      var name = $("#apa").val();
      var r = $("#free-resume-scanner-resume-text-area").val();
      var jd = $("#free-resume-scanner-job-description-text-area").val();
      var data = {
        woeid: name,
        resume: r,
        job_description: jd
      };

      console.log("datas", data.resume , data.job_description)
      $.ajax({
        type: "POST",
        url: "https://c1q8m9q7fg.execute-api.us-west-2.amazonaws.com/stage",
        crossDomain: "true",
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(response) {
          $("#weather").html("<b>Forecast: </b>" + response.weather_state_name);
          $("#min-temp").html("<b>Min temp: </b>" + response.min_temp.toFixed(1) + " °C");
          $("#max-temp").html("<b>Max temp:  </b>" + response.max_temp.toFixed(1) + " °C");
          $("#city").html("<b>City: </b>" + response.title);
        }
      });
    }
  </script>
</head>
<body>

<form id="free-resume-scanner-form" method="post">
  <div class="form-group">
    <label for="free-resume-scanner-resume-text-area">Resume</label>
    <textarea id="free-resume-scanner-resume-text-area" name="resume" cols="40" rows="15" aria-describedby="textareaHelpBlock" class="form-control" required="required"></textarea>
    <span id="textareaHelpBlock" class="form-text text-muted">Open your resume document, select all, copy, and then paste it here</span>
  </div>
  <div class="form-group">
    <label for="free-resume-scanner-job-description-text-area">Job Description</label>
    <textarea id="free-resume-scanner-job-description-text-area" name="textarea1" cols="40" rows="15" class="form-control" aria-describedby="textarea1HelpBlock" required="required"></textarea>
    <span id="textarea1HelpBlock" class="form-text text-muted">Go to the Job Description, select all of it, copy, and paste it here</span>
  </div>
  <div class="form-group">
    <button class="button is-medium is-success is-rounded" type="button" onClick="submitToAPI(event)" class="btn btn-lg" style="margin-top:20px;">Submit</button>
  </div>
</form>


<h2>Results</h2>
<br />
  <p id="weather"><b>Forecast: </b> </p>
  <p id="min-temp"><b>Min temp: </b></p>
  <p id="max-temp"><b>Max temp: </b></p>
  <p id="city"><b>City: </b></p>

<br />
<br />
<br />
<br />
</div>
</body>
</html>
{{ end }}